* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	display: inline-block;
}
li, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #3e3e3e;
}
.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0;
}
.header {
	font-family: 'Roboto', sans-serif;
}
.header_top {
	background-color: #303030;
}
.header_btn {
	float: right;
	background-color: #ffc222;
	color: #1b1b1b;
	font-size: 16px;
	line-height: 36px;
	font-weight: 500;
	position: relative;
	padding: 5px 21px 4px 50px;
	font-family: 'Roboto', sans-serif;
}
.header_btn:before {
	content: "\f0b1";
	font-family: 'icomoon';
	position: absolute;
	color: #1b1b1b;
	left: 22px;
}
.header_contacts {
	overflow: hidden;
}
.header_phone, .header_email {
	font-size: 14px;
	color: #d3d2d2;
	line-height: 45px;
	letter-spacing: 0.35px;
	font-family: 'Roboto', sans-serif;
	position: relative;
}
.header_phone {
	padding-left: 20px;
	padding-right: 30px;
}
.header_phone:before {
	content: "\f095";
	font-family: 'icomoon';
	position: absolute;
	color: #ffc222;
	left: 0;
}
.header_email {
	padding-left: 20px;
}
.header_email:before {
	content: "\f003";
	font-family: 'icomoon';
	position: absolute;
	color: #ffc222;
	left: 0;
}
.header_inner {
	display: flex;
	justify-content: space-between;
}
.header_content {
	padding: 30px 0 25px;
}
.menu li {
	display: inline-block;
}
.menu a {
	color: #323232;
	font-size: 16px;
	line-height: 36px;
	font-family: 'Roboto', sans-serif;
	padding: 0px 16px;
	border: 3px solid transparent;
}
.menu li+li {
	padding-left: 10px;
}
.menu a:hover {
	border: 3px solid #ffc222;
	transition: all 1.3s;
}
.content {
	background-image: url(../img/slider-fon.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 500px;
}
.content_item {
	padding-top: 110px;
	margin: 0 auto; 
	max-width: 665px;
	text-align: center;
}
.content_title {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	color: #fff;
	letter-spacing: 1.5px;
	margin-bottom: 25px;
	text-align: center;
}
.content_text {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	color: #d3d2d2;
	margin-bottom: 50px;
	font-family: 'Roboto', sans-serif;
}
.btn_all {
	display: inline-block;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.35px;
	color: #ffffff;
	text-align: center;
	border: 1px solid #ffc222;
	padding: 8px 30px 8px 24px;
	border-right-width: 20px;
	position: relative;
}
.btn_all:after {
	content: "\f105";
	font-family: 'icomoon';
	position: absolute;
	color: #fff;
	right: -12px;
	top: 50%;
	transform: translateY(-50%);
}


